html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: #da0e0e;
  font-family: "Josefin Sans", sans-serif;
}
/*------------Header--------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header h1 {
  font-family: "BallparkWeiner", serif;
  font-size: 2.5em;
  font-weight: normal;
  margin: 0 0 0 10px;
}

header h2 {
  font-family: Dayrom, serif;
  font-size: 1.1em;
  margin-top: 0px;
  font-weight: normal;
}

#bloc_page {
  display: absolute;
}

#titre_principal {
  display: flex;
  flex-direction: column;
}
#logo {
  border-radius: 50px;
  width: "";
  height: 4.5em;
  font-weight: bold;
  float: left;
}
#logo img {
  border-radius: 50px;
}
/*------------------Navbar----------------------*/
nav {
  background: #da0e0e;
  position: fixed;
  top: -50px;
  width: 100%;
  height: 0;
  opacity: 0.9;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}


li {
  margin-right: 80px;
}

a {
  font-size: 1.3em;
  color: #760001;
  padding-bottom: 3px;
  text-decoration: transparent;
}

/* -------------------------------------- Police --------------------------------*/

h1 {
  text-transform: capitalize;
  font-family: Dayrom, serif;
  text-align: center;
  color: antiquewhite;
  font-weight: bolder;
  padding-top: 30px;
  font-size: 1.5em;
  text-shadow: 1px 3px 2px #181717;
}
h2 {
  text-transform: capitalize;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5em;
}
h3 {
  text-transform: capitalize;
  font-family: Dayrom, serif;
  text-align: "";
  padding-top: "";
  font-size: 2em;
}
p {
  text-transform: initial;
  text-align: center;
  padding-top: "";
  font-size: 1.5em;
}
section h1,
footer h1,
aside h1,
nav a {
  font-family: Dayrom, serif;
  font-weight: normal;
  text-transform: uppercase;
}

/*--------------------Section---------------*/
section {
  display: flex;
  margin-bottom: 20px;
}
aside {
  text-align: space;
}
aside {
  flex: 1.2;
  position: relative;
  background-color: #b30b0b;
  box-shadow: 0px 2px 5px #1c1a19;
  border-radius: 20px;
  padding: 5px;
  color: white;
  font-size: 0.9em;
}
aside img {
  margin-right: 0px;
}

/*------------- Footer--------------*/
#photo {
  text-align: center;
}
#photo img {
  border-radius: 20px;
  border: 1px solid #b30b0b;
}

footer {
  display: flex;
  background: black;
  padding-top: 250px;
}

footer p,
footer ul {
  font-size: 0.8em;
}

#tweet {
  width: 28%;
}

#mes_photos {
  width: 35%;
}

#mes_amis {
  width: 31%;
}

#mes_photos img {
  border: 1px solid #f50202;
  margin-right: 2px;
}

#listes_amis {
  width: 35%;
  display: inline;
}

#mes_amis ul {
  display: flex;
  flex-direction: column;
  height: 210px;
  width: 75%;
  margin-left: 100px;
}

#mes_amis a {
  text-decoration: none;
  color: #760001;
}

/*---------------------------------------------------------------------------------------------------------*/
/*-------------------IMAGEPRINCIPALE----------------------*/
#imagePrincipale {
  padding-top: 60px;
  background: url(./image/pizza-1.125.jpg) no-repeat fixed 25% 25%;
  background-size: cover;
  height: 299px;
}
/*-------------------------PremierTrait----------------------------*/

#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: antiquewhite;
  box-shadow: 3px 3px 2px black;
}
/*-----------------Presentation--------------------------*/

#intro {
  background-color: #fffae1;
  padding: 10px 0px 100px 0;
}
#texteIntro {
  padding: 0px 20%;
}
#second {
  background-color: #fffae1;
  padding: 10px 0px 10px 0;
}

#Presta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: "";
  justify-content: space-between;
  align-items: center;
  padding: 30 10%;
}
.imagesPresta img {
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 5px 8px 5px 4px rgba(0, 0, 0, 0, 83);
}
.imagesPresta img:hover {
  opacity: 0.8;
  transform: scaleX(1.5);
  transition: 0.6s ease-in-out;
}
.imagesPresta img:nth-child() {
  background-color: blue;
  align-self: flex-end;
  border-radius: 10px;
}
/*---------------------------Footer---------------------------------*/

footeer {
  background-color: #524a3a;
  color: #fffae1;
  padding: 20px 0 10px 0;
  text-align: center;
}
form {
  margin: 0 auto;
  max-width: 900px;
}
input,
textarea,
button {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px 0;
  font-size: 1.2em;
  font-family: "Courier New", Courier, monospace;
  border-radius: 8px;
}
button {
  font-size: 1.5;
  background-color: #f50202;
}
button:hover {
  background-color: antiquewhite;
  color: #f50202;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#deuxiemeTrait {
  height: 1px;
  width: 75%;
  background-color: antiquewhite;
  margin: 60px auto;
}
#copyrightAndIcons {
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%;
}
#copright {
  width: 50%;
  text-align: left;
}
#icons {
  width: 100%;
  text-align: right;
}
#icons a {
  display: inline-block;
  margin: 0 15px;
}
#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}
/*-----------------------------------------------------*/